@model Gwent.FormModels.NotificationModel
@{
    ViewBag.Title = "Notifications";
}

<h2>Send A Message</h2>


@using (Html.BeginForm("Index", "Notifications", FormMethod.Post, new { @class = "pure-form pure-form-aligned", id = "notification-form" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <div class="form-group">
            @Html.LabelFor(model => model.RecipientUserId, htmlAttributes: new { @class = "control-label col-md-2" })
            @Html.DropDownListFor(model => model.RecipientUserId, Model.FriendList, "Friends", new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.RecipientUserId, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Message, htmlAttributes: new { @class = "control-label col-md-2" })
            @Html.EditorFor(model => model.Message, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Message, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NotificationType, htmlAttributes: new { @class = "control-label col-md-2" })
            @Html.DropDownListFor(model => model.NotificationType, Model.NotificationTypeList, "", new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.NotificationTypeList, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                @Html.ActionLink("Cancel", "Index", new { }, new { @class = "btn btn-danger" })
                <button type="submit" class="btn btn-success">Submit</button>
            </div>
        </div>
    </div>
}

<div id="notifications"></div>

<script src="~/Scripts/notifications.js"></script>

