@model IList<Gwent.Models.Card>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@foreach(var card in Model)
{
    <img src="@card.ImageUrl">
}
<table>
    <tr>
        <th>
    </tr>
    <tbody>
        @foreach (var card in Model)
        {
            <tr>
                <td>@card.Name</td>
                <td>@card.Description</td>
                <td>@card.Strength</td>
                <td>@card.CardType</td>
                <td>@card.SpecialAbility</td>
                <td>@card.DeckId</td>
            </tr>
        }
    </tbody>
</table>
